body {
  width: 100%;
  height: 100%;
  margin: 0;
 text-align: center;
}

nav a{
  background-color: rgb(197, 182, 182);
}

#featured-property{
  width:800px;
  margin: auto;
}

#featured-property img{
  width:600px;
}

#details{
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 37, 37);
}

